@mixin phone {
  @media screen and (max-width: 420px) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: 768px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  position: relative;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  position: relative;
}
.right-container {
  flex: 1 1 auto;
  height: 100vh;
  overflow-y: scroll;
}
.nav {
  flex: 0 0 300px;
  height: 100vh;
  overflow-y: auto;
  background-color: rgb(28, 28, 28);
  color: white;

  &-close-btn {
    display: none;
  }
  &-open-btn {
    padding-right: 15px;
    display: none;
  }

  @include tab {
    display: none;

    position: fixed;
    width: 300px;

    &-close-btn {
      display: block;

      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.5rem;
    }

    &.open {
      display: block;
    }
    &-open-btn {
      display: block;
    }
  }

  @include phone {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.open {
      display: flex;
    }
    &-open-btn {
      display: block;
      font-size: 20px;
    }
  }
}

.navul-content {
  text-align: center;
  // padding-right: 35px;
  padding-top: 120px;

  @include phone {
    padding-top: 0;
  }

  li {
    a {
      padding: 20px 0px;
      display: block;
      color: white;
    }
  }

  li :hover {
    background-color: #d6d6d6;
    color: #111;
  }
}

.content {
  background-color: #333;
}

.content-headerbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px;
  color: #fff;

  @include phone {
    flex-direction: column;
  }
}

.content-header {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  padding-bottom: 10px;
}

.content-header-register {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;

  @include phone {
    padding: 0;
  }
}

.register-p {
  display: inline-block;
  margin-right: 15px;
}

.register-p a {
  color: #fff;
}

.container-sales-box {
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* margin-top: 30px; */
}

.container-sales-container {
  width: 95%;
  border-radius: 2.5px;
  -webkit-box-shadow: 2px 2px 2px 5px #292929;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.652);
  text-align: justify;
  padding: 0 5px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  /* height: 60vh; */
}

span {
  text-decoration: line-through;
}

.sales-category {
  padding: 5px 0;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.sales-category-p {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  // border: 1px solid lightgrey;
  border-radius: 2px;
}

.sales-category-p a {
  color: #fff;
}

.sales-category-p:hover {
  -webkit-box-shadow: 2px 2px 2px 2px #bebdbd;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.72);
}

.container-sales-b {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.container-sales {
  /* width: 240px; */
  height: auto;
  text-align: center;
}

.content-sales-img-wrapper {
  width: 250px;
  height: 280px;

  @include phone {
    width: 200px;
    height: 210px;
  }

  .content-sales-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 0 5px;
    object-fit: cover;
    object-position: center;
  }
}

.things {
  width: 100%;
  text-align: center;
}

.right-container {
  /* position: absolute; */
}

.content-salesOption {
  padding: 20px;
  color: #fff;

  .content-name {
    padding-bottom: 10px;
    font-size: 19px;
  }

  .content-price {
    font-weight: bold;
  }
}
